<!DOCTYPE html>
<html lang="es">
<meta charset="iso-8859-1">

<head>
    <title>
        Principal
    </title>
</head>
<body>
       <header>
        <p>hola</p>
       </header>

       <nav>
            <ul>
                <li>
                    <p>hola</p>
                </li>
                <li>
                    <p>hola</p>
                </li>
                <li>
                    <p>hola</p>
                </li>
                <li>
                    <p>hola</p>
                </li>
            </ul>
       </nav>

       <section>
            <p>hola</p>
       </section>
       <footer>
            <p>hola</p> 
       </footer>
</body>

</html>