<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Páginas con Django</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Casa</a>
                </li>
                <li>
                    <a href="/productos">productos</a>
                </li>
                {% if user.is_authenticated %}
                    <li>
                        <a href="/CerrarSesion/">Cerrar sesión</a>
                    </li>
                    <li>
                        <a href="/productos/Misproductos">Mis Productos</a>
                    </li>
                {% else %}
                    <li>
                        <a href="/Registro/">Registrarse</a>
                    </li>
                    <li>
                        <a href="/IniciarSesion/">Iniciar sesión</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
