<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Páginas con Django</title>
</head>
<body>
    <header>
        <nav> 
            <ul>
                <li>
                    <a href="{% url 'Main' %}">Casa</a>
                </li>
                <li>
                    <a href="{% url 'Productos' %}">productos</a>
                </li>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'CerrarSesion' %}">Cerrar sesión</a>
                    </li>
                    <li>
                        <a href="{% url 'Mis Productos' %}">Mis Productos</a>
                    </li>
                    <li>
                        <a href="{% url 'Crear Productos' %}">Sube un producto</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'Registro' %}">Registrarse</a>
                    </li>
                    <li>
                        <a href="{% url 'IniciarSesion' %}">Iniciar sesión</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
