{% extends 'Navegacion.html' %}

{% block content %}
<li>
    <a href="/productos/creation">Crea tu producto</a>
</li>
<div>
    <h1>Busca un producto</h1>
    <form method="get">
        {% csrf_token %}
        <input type="text" placeholder="Buscar...">
        <button>
            Buscar
        </button>
    </form>
</div>

<div>
    <ul>
    {% for producto in Lista %}
    <li>    
        <h1>{{producto.title}}</h1>
        <h6>{{producto.description}}</h6>
        <h6>{{producto.user.username}}</h6>
        <h6>{{producto.price}}</h6>
        {% if producto.onsale == True %}
        <h2>Prodcuto a la venta</h2>
        {% else %}
        <h2>Producto agotado</h2>
        {% endif %}

    </li>
    {% endfor %}
    </ul>
</div>


{% endblock %}