{% extends 'Navegacion.html' %}

{% block content %}
<li>
    <a href="productos/creation">Crea tu producto</a>
</li>

<div>
    <ul>
    {% for producto in Lista %}
    <li>    
        <h1>{{producto.title}}</h1>
        <h6>{{producto.description}}</h6>
        <h6>{{producto.user.username}}</h6>
        <h6>{{producto.price}}</h6>
        {% if producto.onsale == True %}
        <h2>Prodcuto a la venta</h2>
        {% else %}
        <h2>Producto agotado</h2>
        {% endif %}

    </li>
    {% endfor %}
    </ul>
</div>


{% endblock %}
