{% extends 'Navegacion.html' %}

{% block content %}
<li>
    <a href="productos/creation">Crea tu producto</a>
</li>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, voluptate nemo veritatis omnis iusto expedita provident eveniet facilis tenetur velit similique qui, minus magni pariatur quod, inventore nobis ab fuga!</p>
<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, porro veniam similique deleniti earum quam beatae praesentium recusandae aspernatur quod, non voluptatem enim labore quaerat quos inventore animi commodi ipsam!</h2>
{% endblock %}
